li {
  list-style-type: decimal;
  vertical-align: middle;
}
li > * {
  display: inline-block;
}
.container {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.ml {
  margin-left: 20px;
}
.thefooter {
  padding: 15px;
  margin-top: auto;
  margin-left: 5px;
  margin-right: 5px;
  bottom: 5px;
  border-radius: 20px;
  border: 1px solid gray;
  backdrop-filter: blur(5px);
  position: sticky;
}
