<div [classList]="'container'">
  <div [classList]="'ml'">
    <h1>LBT-Notenrechner</h1>
    <p>Tool zum ausrechnen der finalen LBT-Note, aus Angabe aller LBT-Noten, gewichtet nach Anzahl Wochenstunden.</p>
    <p style="font-size: x-small">Angaben ohne Gewähr. Dieses Tool ist keine 1:1 Nachstellung der wirklichen Notenrechnung, und soll nur für eine grobe Abschätzung genutzt werden.</p>
    <ul>
      @for (entry of gradeEntries; track entry._id) {
        <li><app-grade-editor [gradeEntry]="entry" (onDelete)="remove($event)"></app-grade-editor></li>
      } @empty {
        <p>Noch keine Noten wurden eingetragen. <a (click)="newEntry()" href="javascript:">Note hinzufügen</a></p>
      }
    </ul>
  </div>
  <div [classList]="'thefooter row'" style="column-gap: 15px;" id="real">
    <p-button icon="pi pi-plus-circle" (onClick)="newEntry()" label="Neu"></p-button>
    <p><span class="pi pi-plus"></span> Summe Std.: {{totalHours()}}</p>
    <p><span class="pi pi-calculator"></span> Note: {{getGrade()}}</p>
  </div>
</div>
