@import "primeng/resources/themes/aura-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";
.row {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
  align-items: center;
}

body {
  margin: 0;
}
